@import './select.scss';

.filter_search{
  padding: 2rem;
  margin: 0 0 1.5rem;
}
.basereate_table{
  td{
    padding: .6rem 1rem;
    font-size: 1.5rem;
  }
  table{
    margin-bottom: 0;
  }
  thead{
    th{
      font-family: $head_font;
      font-weight: 400;
      font-size: 1.4rem;
    }
  }
}