<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="../fonts/bootstrapicon/font/bootstrap-icons.css" type="text/css" rel="stylesheet">
    <link type="text/css" href="../css/front.css" rel="stylesheet">
    <link type="text/css" href="../css/style.css" rel="stylesheet">
    <link type="text/css" href="../css/custom.css" rel="stylesheet">

    <title>Banner</title>
</head>

<body>
    <!-- banner -->
    

    <section class="banner_col banner_bg">
        <div class="shape1 position-absolute">
            <img src="../images/shape1.png" alt="title" class="img-fluid">
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col* col-md-6 col-lg-5 col-xl-6 banner_content">
                    <div class="banner_infos">
                        <span class="sub_head">Online Bank Deposit Compare </span>
                        <h1>Know about Banks' Deposits</h1>
                        <ul>
                            <li>Get the right information about Bank Deposits.</li>
                            <li>Select the best credit card for you.</li>
                            <li>Learn about the current forex rate and financial news.</li>
                        </ul>

                        <div class="banner_btn">
                            <a href="#" class="btn btn_theme">Bank Deposit Compare</a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="static_fig">
                <figure>
                    <img src="../images/banner_post.webp" class="img-fluid" alt="title">
                </figure>
            </div>
        </div>
    </section>


    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script type="text/javascript" src="../js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../js/main.min.js"></script>
    <script type="text/javascript" src="../js/custom.js"></script>

    <!-- Swiper Slider-->
    <script type="text/javascript" src="../js/swiper/swiper.min.js"></script>
    <script type="text/javascript" src="../js/swiper/swiper.js"></script>

    <script type="text/javascript" src="../js/jquery.slimmenu.min.js"></script>



    <!-- Ion range Slider -->
    <script type="text/javascript" src="../js/rangeslider/ion.rangeSlider.min.js"></script>
    <script type="text/javascript" src="../js/rangeslider/rangeslider.js"></script>


    <!-- Char Js-->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/variable-pie.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <script>
        Highcharts.chart('chart_container', {
            chart: {
                type: 'variablepie'
            },
            title: {
                text: ''
            },

            series: [{
                minPointSize: 10,
                innerSize: '10%',
                zMin: 0,
                name: 'EMI',
                data: [{
                    name: 'Principal',
                    y: 505370,
                    z: 92.9
                }, {
                    name: 'Interest Rate',
                    y: 551500,
                    z: 118.7
                }, {
                    name: 'Loan Tenure',
                    y: 312685,
                    z: 124.6
                }]
            }]
        });
    </script>
    <script>
        $('.slimmenu').slimmenu({
            resizeWidth: '768',
            collapserTitle: '',
            animSpeed: 'medium',
            indentChildren: true,
            childrenIndenter: '&raquo;'
        });
    </script>

</body>

</html>