<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="../images/logo.png" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link href="../fonts/bootstrapicon/font/bootstrap-icons.css" type="text/css" rel="stylesheet">
    <link type="text/css" href="../css/deposit.css" rel="stylesheet">
    <link type="text/css" href="../css/style.css" rel="stylesheet">
    <link type="text/css" href="../css/custom.css" rel="stylesheet">

    <title>Saral Banking Sewa</title>
</head>

<body>
    <div class="offcanvas-overlay"></div>
<!-- breadcrumbs -->
    <section class="breadcrumb_section">
        <div class="breadcrumb_bg">
            <div class="container">
                <div class="breadcrumb_flex">
                    <h1>Desposit Account Types</h1>                    
                </div>
            </div>
        </div>
    </section>

    <main>
        <section class="deposit_content">
            <div class="container">
                <div class="row">
                    <div class="col* col-md-8 col-lg-8 col_left">
                        <div class="product_grid">
                            <div class="row">
                                <div class="col* col-sm-6 col-md-3 col-lg-3 product_grid_list product_list_hover">
                                    <a href="deposit-list.html">
                                        <figure>
                                            <img src="../images/1.png" alt="title" class="img-fluid">
                                            <div class="fig_caption">
                                                <h4>Call Account</h4>
                                            </div>
                                        </figure>
                                    </a>
                                </div>

                                <div class="col* col-sm-6 col-md-3 col-lg-3 product_grid_list product_list_hover">
                                    <a href="deposit-list.html">
                                        <figure>
                                            <img src="../images/2.png" alt="title" class="img-fluid">
                                            <div class="fig_caption">
                                                <h4>Saving Account</h4>
                                            </div>
                                        </figure>
                                    </a>
                                </div>

                                <div class="col* col-sm-6 col-md-3 col-lg-3 product_grid_list product_list_hover">
                                    <a href="deposit-list.html">
                                        <figure>
                                            <img src="../images/3.png" alt="title" class="img-fluid">
                                            <div class="fig_caption">
                                                <h4>Curent Account</h4>
                                            </div>
                                        </figure>
                                    </a>
                                </div>

                                <div class="col* col-sm-6 col-md-3 col-lg-3 product_grid_list product_list_hover">
                                    <a href="deposit-list.html">
                                        <figure>
                                            <img src="../images/4.png" alt="title" class="img-fluid">
                                            <div class="fig_caption">
                                                <h4>Fixed Account</h4>
                                            </div>
                                        </figure>
                                    </a>
                                </div>

                                <div class="col* col-sm-6 col-md-3 col-lg-3 product_grid_list product_list_hover">
                                    <a href="deposit-list.html">
                                        <figure>
                                            <img src="../images/1.png" alt="title" class="img-fluid">
                                            <div class="fig_caption">
                                                <h4>Recurring Desposit</h4>
                                            </div>
                                        </figure>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col* col-md-4 col-lg-4 col_right">
                        <div class="side_infos_wrap sticky-top">
                            <div class="side_bar">
                                <div class="side_bar_content">
                                    <a href="deposit.html" title="Compare Deposit"
                                        class="btn btn_theme w-100 mb-3">Compare Bank Deposit</a>
                                    <a href="deposit.html" title="Compare Loan" class="btn btn_theme w-100">Compare Bank
                                        Loan</a>
                                </div>
                            </div>                         
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script type="text/javascript" src="../js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../js/main.min.js"></script>
    <script type="text/javascript" src="../js/custom.js"></script>



</body>

</html>